import { component$, Slot } from '@qwik.dev/core'

import { IconProps } from '{{TYPES_REL_PATH}}'
import BaseIcon from '{{BASE_ICON_REL_PATH}}'

/**
 * Lucide icon: {{ICON_NAME}}
 *
 * Preview: ![img]({{ICON_PREVIEW_URL}})
 *
 * @public
 */
export const {{ICON_NAME}}Icon = component$((props: IconProps) => {
	return <BaseIcon name='{{ICON_NAME}}' {...props}>
		<Slot/>
		{{CONTENT}}
	</BaseIcon>
})

export default {{ICON_NAME}}Icon
